<div style="text-align:center">
  <h1>
    Bienvenido a {{title}}!
  </h1>
</div>

<ul class="menu" *ngIf="logged">
  <li>
    <a routerLink="home"> Home </a>
  </li>
  <li>
    <a routerLink="cotizacion"> Gestionar Cotización </a>
  </li>
  <li>
      <a routerLink="acordar"> Acordar Pago </a>
  </li>
  <li>
      <a routerLink="estudio"> Estudio Crédito </a>
  </li>
  <li>
    <a routerLink="separar"> Separar auto </a>
</li>
<li>
    <a routerLink="abonar"> Abonar pago </a>
</li>
  <li>
    <a routerLink="" (click)="logout()"> Salir </a>
  </li>
</ul>

<div class="color-ligth center" *ngIf="!logged">
  <form>
    <input [(ngModel)]="user.name" name="nombre" class="txt" placeholder="Digite su usuario">

    <input [(ngModel)]="user.pass" name="password" class="txt" type="password" placeholder="Digite su contraseña">

    <input (click)="login()" class="btn" type="submit" value="Ingresar" style="margin: auto">
  </form>
</div>
<br>


<router-outlet></router-outlet>

<div class="center" style="text-align:center;" >
    <h1> {{hora | date: "hh:mm:ss"}}  </h1>
    <h1> {{hora | date: "dd/MM/yyyy"}}  </h1>
</div>

<br>
<div class="color-ligth center " *ngIf="logged">

  <form>
    <input (click)="logout()" class="btn" type="submit" value="Salir" style="margin: auto">
  </form>
</div>